@import url('login.css');

.form-title {
    padding: 20px 0 10px 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.29;
    letter-spacing: normal;
    color: #111;
    text-align: left;
}

.register-wrapper {
    width: 100%;
    max-width: 450px;
    text-align: center;
}
.register-form {

}

.register-password-error,
.register-email-error {
    color: red;
    font-size: 12px;
    text-align: left;
    margin: 9px 12px 0;
    padding-left: 10px;
    display: none;
}


.radio-group {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 20px 0;
    font-size: 14px;
    color: #555;
}

.register-btn {
    background-color: #3366ff;
    color: white;
    border: none;
    padding: 12px;
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    border-radius: 4px;
    cursor: pointer;
}

.register-btn:hover {
    background-color: #254edb;
}

.input-group{
    margin-top: 20px;
}