body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.header-container {
    background-color: #4CAF50;
    padding: 10px;
    text-align: center;
    color: white;
    display: flex;
    justify-content: flex-end;
}
.header-button-container{
    margin-right: 130px;
}
.header-container button {
    padding: 2px 8px;
    font-size: 10px;
    cursor: pointer;
    margin-right: 10px;
}
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.search-container > * {
    margin-left: 10px;
    margin-right: 10px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.welcome {
    margin: 20px;
    font-size: 18px;
    text-align: center;
}

.menu ul {
    display: flex;
    justify-content: center;
    padding: 0;
    list-style: none;
    background-color: #f2f2f2;
    margin: 0;
}

.menu li {
    margin: 0 20px;
}

.menu a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 15px 0;
    display: block;
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.product {
    width: 200px;
    margin: 10px;
    text-align: center;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 10px;
}

.product img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}

footer {
    text-align: center;
    margin-top: 50px;
    padding: 20px;
    background-color: #f1f1f1;
}
